# Created by .ignore support plugin (hsz.mobi)
### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
memes-*
geckodriver.log
.vscode

.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/scrapper.iml
__pycache__/
env/
